<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ziqing Yan's Website</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <main>

<% if (locals.route) { %>

    <div id="success-cover"></div>
    <div class="success" class="container">
        <p>successful!</p>
    </div>
    <div id="time-prompt">
        <span id="time">3</span>
        <span>s before redirect to <%=pageName %> page</span>
    </div>


<script>
    var i = 3;
        setInterval(timer, 1000)
        function timer() {
            i--;
            if (i > 0) {
                document.getElementById("time").innerHTML=i;
            } else {
                location.href= "http://www.ziqingyan.tech" + "/" + "<%=locals.route %>";
            }
        }
</script>
<% } %>

</main>
</body>
</html>